{% extends 'base.html' %}
{% load static %}

 {% block header %}
 {% include 'header.html' %}
 {% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <a class="link-img" href="{% url 'printer' %}"><img class="card-img-top" src="{% static 'img/p.png'%}" alt="Card image cap"></a>
                </div>
            </div>

         <div class="card-deck">
                <div class="card">
                    <a class="link-img" href="{% url 'catrige' %}"><img class="card-img-top" src="{% static 'img/catrige.png'%}" alt="Card image cap"></a>
                </div>
         </div>

              <div class="card-deck">
                <div class="card">
                    <a class="link-img" href="#"><img class="card-img-top" src="{% static 'img/printer.png'%}" alt="Card image cap"></a>
                </div>
              </div>

        </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include 'fouter.html' %}
{% endblock %}


