{% extends 'base.html' %}

{% load static %}

 {% block header %}
      {% include 'header.html' %}
 {% endblock %}


{% block content %}

    <div class="form-search">

             <form class="form-inline" {% url 'person' %} action="{% url 'person' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>

    <div class="container">

    {% for p in person.object_list %}

     <div class="wrap-card">


    <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-3">

         {%  if p.photo %}
                <img src="{{ p.photo.url }}" class="card-img" alt="...">
                 {% else %}
                 <img src="{% static 'img/person.jpg' %}" class="card-img" alt="...">
                 <p></p>
             {% endif %}
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">{{ p.first_name }} {{ p.last_name }} {{ p.father_name }}</h5>
          <p class="card-text">Отдел: {{ p.dep }} </p>
          <p class="card-text">Должность: {{ p.pos }} </p>

        <p class="card-text">Внутренний номер телефона: {{ p.phone }} </p>
          <p class="card-text">Электронная почта: <a class="email_Link" href="#">{{ p.mail }}</a>  </p>



        <p class="card-text"><small class="text-muted">Последнее обновление {{ p.date_uppdate }}</small></p>
      </div>
    </div>
  </div>
</div>

        </div>

    {% endfor %}

         <p>{{ p.first_name }}</p>
           <p> {{ p.last_name }}</p>
          <p> {{ p.father_name }} </p>
            <p>{{ p.phone }}</p>
    </div>
{% endblock %}


{% block paginator %}
    {% include 'pagingation.html' %}
{% endblock %}


{% block footer %}
    {% include 'fouter.html' %}
{% endblock %}


