.wrap-card{
    margin: 16px;
}
.pagination{
    padding-left: 8px;
}

.telephone{
    color: #005cbf;
}
.email_Link{
    color: #5a6268;
    text-decoration: none;
}
.email_Link:hover{
    color: #005cbf;
    text-decoration: none;
}

.form-search{
    margin: 35px;
}